{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div style="height: 100vh" class="row d-flex justify-content-center align-items-center">
        <div class="col ">
            <div class="row">
                <div class="col text-center">
                    <h1 class="h3 text-gray-900 mb-4">Calculate your BMI</h1>
                </div>
                <div class="d-flex flex-row justify-content-evenly text-center">
                    <form method="POST">
                        <div class="col mb-2">
                            <label for="height" class="form-label">Height:</label>
                            <input type="number" step=".01" class="form-control form-control-user"
                                id="height" aria-describedby="heightHelp"
                                name="height" placeholder="in m || ex: 1.82"
                                value="">
                        </div>
                        <div class="col mb-4">
                            <label for="weight" class="form-label">Weight:</label>
                            <input type="number" step=".1" class="form-control"
                                id="weight" aria-describedby="weightHelp"
                                name="weight" placeholder="in Kg || ex: 79"
                                value="">
                        </div>
                        <div class="col-xs-1 center-block">
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Calculate
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col text-center" style="margin-top: 3em">
                    <h1 class="h5 .text-danger mb-4">Check if you are on the right path!!</h1>
                    <h1 class="h5 text-gray-600 mb-4">Your BMI is: {{bmi}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <table id="table5" class="table table-bordered ">
                    <caption class="sr-only">The standard weight status categories associated with BMI ranges for adults are shown in the following table.</caption>
                    <thead>
                    <tr>
                    <th scope="col">BMI</th>
                    <th scope="col">Weight Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>Below 18.5</td>
                    <td>Underweight</td>
                    </tr>
                    <tr>
                    <td>18.5 &ndash; 24.9</td>
                    <td>Healthy Weight</td>
                    </tr>
                    <tr>
                    <td>25.0 &ndash; 29.9</td>
                    <td>Overweight</td>
                    </tr>
                    <tr>
                    <td>30.0 and Above</td>
                    <td>Obesity</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}